/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: 'Tomorrow', 'Open Sans', sans-serif;
	font-size: 22px;
	line-height: 1.5em;
	color: #111;
	background-color: #fff;
	background-image: url('../img/Modern-Free-Vector-Geometric.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}


/* For this site, note that the .container element is invisible.
   We're using it for structure only. */

.container {
	margin-right: 0;
	margin-left: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.navbar {
	grid-column: 1 / 6;
	grid-row: 1 / 2;
	margin-top: 0;
	width: 100%;
	padding: 1em;
	text-align: center;
	position: ;
	background-color: rgba(51, 51, 51, 0.8);
}

 a {
	color: white;
	flex-wrap: nowrap;
	font-size: 16px;
	text-decoration: none;
	margin-right: 2em;
	margin-left: 2em;
	transition: all .4s ease-in-out;
	padding: 1em;
}

 a:hover {
	background-color: #E55916;
}

.title {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	padding-top: 1em;
	padding-bottom: 0;
	margin-top: 1em;
	margin-bottom: 0;
	font-family: 'Tomorrow', sans-serif;
	font-size: 70px;
	font-weight: 800;
	text-align: center;
	color: #E55916;
	line-height: 1em;
}

.info {
	padding: 1px;
	margin-top: 0em;
	font-size: 20px;
	line-height: 1em;
	font-family: 'Tomorrow';
	text-align: center;
	color: #E55916;
	grid-row: 3 / 4;
	grid-column: 1 / 6;
}

.description {
	background-color: rgba(160, 160, 160, 0.9);
	font-size: 16px;
	line-height: 2em;
	padding: 2em;
	margin-bottom: 5em;
	margin-top: 3em;;
	grid-column: 2 / 5;
	grid-row: 4 / 5;
	color: #333333;
	font-family: 'Open Sans';
}

.row {
	grid-column: 1 / 6;
	grid-row: 2 / 3;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}


input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/* small screens media query */
@media (max-width: 800px) {

	.container {
		display: block;
	}

}
