/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

html {
	height: 100%;
}

body {
	font-family: 'Tomorrow', 'Open Sans', sans-serif;
	font-size: 22px;
	line-height: 1.5em;
	color: #111;
	height: 100%;
	background-image: url('../img/Modern-Free-Vector-Geometric.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}


/* For this site, note that the .container element is invisible.
   We're using it for structure only. */

.container-home {
	margin-right: 0;
	margin-left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.navbar {
	grid-column: 1 / 7;
	grid-row: 1 / 2;
	margin-top: 0;
	width: 100%;
	padding: 1em;
	text-align: center;
	background-color: rgba(51, 51, 51, 0.8);
}

 a {
	color: white;
	flex-wrap: nowrap;
	font-size: 16px;
	text-decoration: none;
	margin-right: 2em;
	margin-left: 2em;
	transition: all .4s ease-in-out;
	padding: 1em;
}

 a:hover {
	background-color: #E55916;
}

.title {
	grid-column: 1 / 7;
	grid-row: 2 / 3;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: .5em;
	margin-bottom: .5em;
	font-family: 'Tomorrow', sans-serif;
	font-size: 70px;
	font-weight: 800;
	text-align: center;
	color: #E55916;
	line-height: 1.5em;
}





/* start home page */




.info {
	padding: 1px;
	margin-top: 0em;
	font-size: 20px;
	line-height: 1em;
	font-family: 'Tomorrow';
	text-align: center;
	color: #E55916;
	grid-row: 3 / 4;
	grid-column: 1 / 7;
}

.description {
	background-color: rgba(160, 160, 160, 0.9);
	font-size: 16px;
	line-height: 2em;
	padding: 2em;
	margin-bottom: 5em;
	margin-top: 3em;;
	grid-column: 2 / 6;
	grid-row: 4 / 5;
	color: black;
	font-family: 'Open Sans';
}




/* start register page */






.container-register {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	  padding: 5px 20px 15px 20px;
	  border: 1px solid lightgrey;
	  border-radius: 3px;
		color: white;
		background-image: url('../img/Modern-Free-Vector-Geometric.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
}

.row {
	background-color: rgba(160, 160, 160, 0.7);
	grid-column: 1 / 7;
	grid-row: 3 / 4;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}


.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-50,
.col-75 {
  padding: 0 16px;
}


input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}





/* start schedule page */


.container-schedule {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	color: white;
	background-image: url('../img/Modern-Free-Vector-Geometric.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}


/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	grid-column: 1 / 7;
	grid-row: 3 / 4;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}




/* start speakers page */


.container-speakers {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	padding: 5px 20px 15px 20px;
	color: white;
	background-image: url('../img/Modern-Free-Vector-Geometric.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.jen {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	margin: 1em;
	color: #E55916;
	background-color: rgba(51, 51, 51, 0.8);
	padding: .5em;

}

.john {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
	margin: 1em;
	color: #E55916;
	background-color: rgba(51, 51, 51, 0.8);
	padding: .5em;
}

.susan {
	grid-column: 4 / 5;
	grid-row: 3 / 4;
	margin: 1em;
	color: #E55916;
	background-color: rgba(51, 51, 51, 0.8);
	padding: .5em;
}

.rich {
	grid-column: 5 / 6;
	grid-row: 3 / 4;
	margin: 1em;
	color: #E55916;
	background-color: rgba(51, 51, 51, 0.8);
	padding: .5em;
}

/* Dropdown Button */
.dropbtn-s {
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  padding: 1px;
  font-size: 20px;
	color: #E55916;
	font-family: 'Tomorrow', sans-serif;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-s {
	grid-column: 1 / 7;
	grid-row: 3 / 4;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-s {
  display: none;
  position: absolute;
  background-color: rgba(120, 120, 120, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	font-size: 16px;
}

/* Links inside the dropdown */
.dropdown-content-s p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown-s:hover .dropdown-content-s {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-s:hover .dropbtn-s {background-color: rgba(51, 51, 51, 0.8);
;}







/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }

	.container-speakers {
		display: flex;
		flex-direction: column;
	}


	.title {
		transform: scale(0.9);
	}

}

/* small screens media query */
@media (max-width: 800px) {

	.container {
		display: block;
	}

}
