/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: 'Tomorrow', 'Open Sans', sans-serif;
	font-size: 22px;
	line-height: 1.5em;
	color: #111;
	background-color: #fff;
	background-image: url('../img/Modern-Free-Vector-Geometric.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}


/* For this site, note that the .container element is invisible.
   We're using it for structure only. */
.container {
	margin-right: 0;
	margin-left: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.title {
	grid-column: 2 / 4;
	grid-row: 1 / 2;
	padding: 1em;
	margin-top: 2em;
	font-family: 'Tomorrow', sans-serif;
	font-size: 70px;
	font-weight: 800;
	text-align: center;
	color: #E55916;
	line-height: 1em;
}

.info {
	background-color: rgba(160, 160, 160, 0.8);
	padding: 1px;
	margin: 1px;
	font-size: 15px;
	line-height: 1em;
	font-family: 'Open Sans';
	text-align: center;
	color: black;
	grid-row: 2 / 3;
	grid-column: 1 / 5;
}


/* small screens media query */
@media (max-width: 800px) {

	.container {
		display: block;
	}

}
